## .NET
bin/
obj/
[Dd]ebug/
[Rr]elease/
*.user
*.suo
.vs/
artifacts/
TestResults/
*.trx
coverage*.xml
[Cc]overage/

## Rider / VS Code
.idea/
.vscode/

## Node (frontend)
node_modules/
dist/
.angular/
npm-debug.log*

## OS
.DS_Store
Thumbs.db

## Env
*.env
.env.local
